.h1{
    font-size: 50px;
    font-weight: bolder;
    font-style: oblique;
}
.h3{
    font-size: 55px;
    font-weight: 200;
    font-style: oblique;
}
.h4{
    font-size: 40px;
    font-weight: 300;
    font-style: oblique;
    margin-left: 65px;
}
.a1{
    padding-left: 10px;
    margin-top: 0px;
    background-image: url('./assets/god.jpg');
    background-size: cover;           
    background-position: center;
    height: 94vh;             
    width: 98%;
}
.a1>.h1{
    margin-left: 550px;
    padding-top: 230px;
}
.a1>.a2{
    margin-left: 600px;
}
.a2{
    margin-left: 50px;
}
.a2>.a3{
    margin-left: 65px;
}
.a2>.a4{
    margin-left: 25px;
}
td>.button{
    margin-left: 30px;
    margin-right: 30px;
}
.table{
    margin-top: 15px;
    margin-left: 150px;
}
.edit{
    margin-left: 600px;
    margin-top: 120px;
}
.add{
    margin-left: 600px;
    margin-top: 60px;
}